---
title: On-Demand Service Architecture
owner: London Services
---

This topic describes the architecture for on-demand RabbitMQ&reg; for Pivotal Cloud Foundry (PCF).

For information about architecture of the older, pre-provisioned service, see [Deploying the RabbitMQ® Service](./deploying.html).

## <a id='on-demand'></a>On-Demand Service Architecture

Like other on-demand PCF services, on-demand RabbitMQ for PCF relies on the BOSH 2.0 ability to 
dynamically deploy VMs in a dedicated network. 
The on-demand service broker uses this capability to create single-tenant service instances in a dedicated service network.

### <a id="service-network"></a>BOSH 2.0 and Service Networks

<!-- wanna call partial '../odb/service_networks' here -->

<%= partial 'test_partial' %>

### <a id='on-demand'></a>On-Demand Service Architecture

<!-- wanna call partial '../odb/on_demand_architecture' here -->

