---
title: About RabbitMQ for PCF
owner: London Services
---

This topic describes the architecture of RabbitMQ&reg; for Pivotal Cloud Foundry (PCF), both the on-demand service and the older, pre-provisioned service.

## <a id='on-demand'></a>On-Demand Service Architecture

Like other on-demand PCF services, on-demand RabbitMQ for PCF relies on the BOSH 2.0 ability to dynamically deploy virtual machines (VMs) in a dedicated network. The On-Demand Broker uses this capability to create single-tenant service instances in a dedicated Service Network.

### <a id="service-network"></a>BOSH 2.0 and Service Networks

<!-- wanna call partial '../odb/service_networks' here -->

<%= partial 'test_partial' %>

### <a id='on-demand'></a>On-Demand Service Architecture

<!-- wanna call partial '../odb/on_demand_architecture' here -->

## <a id='on-demand'></a>Pre-Provisioned Service Architecture

<%= image_tag("images/deployment_default.jpeg") %>

<%= image_tag("images/deployment_recommended.jpeg") %>

<%= image_tag("images/deployment_advanced.jpeg") %>
