---
title: About On-Demand RabbitMQ for PCF
owner: London Services
---

_The Overview page in some documentation performs the same function as this About page. For example, see the [Pivotal HD documentation](http://docs.pivotal.io/pivotalhd-ds/overview.html)_

<p class="note"><strong>IMPORTANT</strong>: <em>Only include on this page information that the reader needs to understand, not instructions that the reader needs to follow.</em></p>

This topic describes the architecture of on-demand RabbitMQ&reg; for Pivotal Cloud Foundry (PCF) and contrasts it with the older pre-provisioned RabbitMQ for PCF service. If you are new to the product, read this page to learn how it works. 

_Use this page as needed to explain how the product works. This is a great place for diagrams. Use PNG format for diagrams and images; if you have source files for diagrams, please provide those too._

_Distinguish clearly between the fundamental **objects** that the service operates on, such as users, apps, logs, addresses, groups, accounts, etc.; and the software **components**, the internal parts of the service that create, destroy, and do things to these objects, pass them around, and interface with CF and other systems._

## <a id='architecture'></a>Architecture - How the Components of On-Demand RabbitMQ for PCF Service Work together 

_body text_

## <a id='concept1'></a>Concept 1 - The Fundamental Objects of On-Demand RabbitMQ for PCF

_body text_

### <a id='object1'></a>Object Type 1 

_body text_

### <a id='object2'></a>Object Type 2

_body text_

## <a id='concept2'></a>Concept 2 - The Fundamental Actions of On-Demand RabbitMQ for PCF

_body text_

