---
title: About On-Demand RabbitMQ for PCF
owner: London Services
---

_The Overview page in some documentation performs the same function as this About page. For example, see the [Pivotal HD documentation](http://docs.pivotal.io/pivotalhd-ds/overview.html)_

<p class="note"><strong>IMPORTANT</strong>: <em>Only include on this page information that the reader needs to understand, not instructions that the reader needs to follow.</em></p>

This topic describes the architecture of on-demand RabbitMQ&reg; for Pivotal Cloud Foundry (PCF) and contrasts it with the older pre-provisioned RabbitMQ for PCF service. If you are new to the product, read this page to learn how it works. 

_Use this page as needed to explain how the product works. This is a great place for diagrams. Use PNG format for diagrams and images; if you have source files for diagrams, please provide those too._

_Distinguish clearly between the fundamental **objects** that the service operates on, such as users, apps, logs, addresses, groups, accounts, etc.; and the software **components**, the internal parts of the service that create, destroy, and do things to these objects, pass them around, and interface with CF and other systems._

## <a id='on-demand'></a>On-Demand Service Architecture

<%= image_tag("https://docs.pivotal.io/on-demand-service-broker/0-14/img/ODB-create-service.png") %>

## <a id='on-demand'></a>Pre-Provisioned Service Architecture

<%= image_tag("images/deployment_default.jpeg") %>

<%= image_tag("images/deployment_recommended.jpeg") %>

<%= image_tag("images/deployment_advanced.jpeg") %>
