---
title: On-Demand Service Architecture
owner: London Services
---

This topic describes the architecture for on-demand RabbitMQ&reg; for Pivotal Cloud Foundry (PCF).

For information about architecture of the older, pre-provisioned service, see [Deploying the RabbitMQ® Service](./deploying.html).

## <a id="service-network"></a>BOSH 2.0 and Service Networks

<%= partial '../../rabbitmq-cf/odb/service_networks' %>

## <a id='on-demand'></a>Default Network and Service Network

Like other on-demand PCF services, on-demand RabbitMQ for PCF relies on the BOSH 2.0 ability to 
dynamically deploy VMs in a dedicated network. 
The on-demand service broker uses this capability to create single-tenant service instances in a dedicated service network.

<%= partial '../../rabbitmq-cf/odb/on_demand_architecture' %>

The diagram below shows worker VMs in an on-demand service instance, such as RabbitMQ for PCF, running on a separate services network, while other components run on the default network.

![Default Network and Service Network](images/ODB-RMQ-architecture.png)

## <a id="network-rules"></a> Required Networking Rules for On-Demand Services

<%= partial '../../rabbitmq-cf/odb/service_networks_table' %>