---
breadcrumb: RabbitMQ for Pivotal Cloud Foundry Documentation
title: RabbitMQ&reg; for Pivotal Cloud Foundry Documentation
owner: London Services
---

RabbitMQ is a fast and dependable open-source message server that supports a wide range of use cases including reliable integration, content based routing and global data delivery, and high volume monitoring and data ingestion.

Emerging as the de facto standard for cloud messaging, RabbitMQ is used for efficient communication between servers, applications and devices, and creates lasting value by enabling rapid development of modern decentralized application and data architectures that can scale with your business needs.
The [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) installer enables cloud operators to deploy a [RabbitMQ service](https://network.pivotal.io/products/pivotal-rabbitmq-service) in PCF. You can deploy the service as a single node or a cluster.

## Product snapshot

<dl>
<dt>Current RabbitMQ for PCF Details</dt>
<dd><strong>Version</strong>: 1.6.14 </dd>
<dd><strong>Release Date</strong>: 15th December 2016</dd>
<dd><strong>Software component version</strong>: RabbitMQ OSS 3.6.6</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.7.x, 1.6.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.7.x, 1.6.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>IPsec support?</strong> No</dd>
</dl>

## Upgrading to the Latest Version

Consider the following compatibility information before upgrading RabbitMQ for Pivotal Cloud Foundry.

<p class="note"><strong>Note</strong>: Upgrading from any 1.5x tile to 1.6.x will involve taking the RabbitMQ cluster offline while the version of RabbitMQ is upgraded from 3.5.7 to 3.6.5.  </p>

<p class="note"><strong>Note</strong>: Customers will only be able to upgrade to v1.7.7 or later of the tile. </p>

<p class="note"><strong>Note</strong>: You can not upgrade version 1.5.11 to 1.6.0, so you must use 1.6.1 or higher. </p>

<p class="note"><strong>Note</strong>: You can not upgrade version 1.5.21 to 1.6.13, so you must use 1.6.14 or higher. </p>

<p class="note"><strong>Note</strong>: All customers upgrading from 1.6.x to 1.6.5 or later versions of the tile should read the
<em>Additional upgrade steps for customers going from 1.6.x to 1.6.5</em> document located with the release on <a href="https://network.pivotal.io/products/pivotal-rabbitmq-service"> https://network.pivotal.io/products/pivotal-rabbitmq-service</a>.</p>

For more information, refer to the full [Product Version Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

<table border="1" class="nice">
<tr>
  <th>Ops Manager Version</th>
  <th>Supported Upgrades from Imported RabbitMQ Installation</th>
</tr>
<tr>
  <th>1.6.x and 1.5.x</th>
  <td><ul>
  <li>From 1.5.0 through to 1.5.23, 1.6.0 through to 1.6.14</li>
    </ul>
  </td>
</tr>
<tr>
  <th>1.7.x</th>
  <td><ul>
  <li>From 1.5.9 through to 1.5.23, 1.6.0 through to 1.6.14</li>
    </ul>
  </td>
</tr>
</table>


## Features

* Provision an instance of the RabbitMQ service, which corresponds to a unique RabbitMQ Vhost (virtual host)
* Bind applications to an instance of the plan, providing unique credentials for each binding
* Management dashboard access to PCF Operators and application developers
* Deployment across multiple availability zones, with nodes striped across the AZs automatically
* Enable SSL (Secure Sockets Layer) for the AMQP, MQTT, STOMP protocols
* 2 node RabbitMQ cluster in a default deployment
* HAProxy load balancer across all nodes to balance connections
* Plugin configuration can be easily changed at any time and the cluster redeployed and updated
* The cluster topology can be changed and easily scaled out
* A default configurable queue policy is supplied in Ops Manager, but needs to be enabled on the deployment to take effect.
* Automated upgrades of RabbitMQ for major, minor and patch releases
* Configure the end point for the RabbitMQ Syslog
* RabbitMQ and HAProxy metrics are exposed on the firehose

### Install via Pivotal Ops Manager

To install RabbitMQ for PCF, follow the procedure for installing Pivotal Ops Manager tiles:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).
1. Upload the product file to your Ops Manager installation.
1. Click **Add** next to the uploaded product description in the Ops Manager `Available Products` view to add this product to your staging area.
1. Click the newly added tile to review any configurable options.
1. Click **Apply Changes** to install the service.

This product requires Ops Manager version 1.5.0 or greater.

### Using RabbitMQ in your application

RabbitMQ is shown in the services marketplace, either in the Apps Manager or
through `cf marketplace` on the CLI.

Application developers can create an instance of the application with `cf create-service p-rabbitmq standard <your name>`.
For this service an instance equals a **Vhost** on the RabbitMQ cluster.

Creating a binding gives the user permissions to access this Vhost and associated management dashboard.

### Current Limitations
Limitations with the current RabbitMQ for PCF product include:

* Availability Zone configuration **cannot** be changed once deployed.

We hope to address all of these limitations in future releases.

### Known Issues

* In versions `1.4.1` and `1.4.2`, the `manage` button for your RabbitMQ instance in Apps Manager will not automatically log you into the RabbitMQ Dashboard. You need to press `logout` and then login with your `username` and `password` which can be obtained from inspecting the environment variables for your instance.
* In versions `1.5.0` and `1.5.1`, when performing a fresh installation or upgrade, if the Elastic Runtime system and application domains are different,  then the `Broker Registrar` errand will fail. To resolve this, disable the errand and redeploy, then register the broker manually using the system domain route `pivotal-rabbitmq-broker.system.domain`. For more information about registering brokers see the [CloudFoundry documentation](http://docs.cloudfoundry.org/services/managing-service-brokers.html).
* In the `1.5.0`, `1.5.1`, `1.5.2`, `1.5.3` releases, when performing a fresh installation or upgrade, if you have the rabbitmq\_jsonrpc\_channel or rabbitmq\_jsonrpc\_channel_examples plugins selected then the RabbitMQ nodes will fail to start. The plugins are no longer distributed with RabbitMQ and plugin validation was introduced in RabbitMQ `3.5.7`, causing the nodes to fail to start. To resolve this issue you should install or upgrade to version `1.5.4` or above of the tile.
* In the `1.5.x` and `1.6.x` tiles it is not possible to install the RabbitMQ tile in multiAZ with multi-subnet networks.
* IPsec will not work with any version of the RabbitMQ tile, and customers wishing to use it are advised to deploy their services to a different subnet.


### Feedback
Please provide any bugs, feature requests, or questions to [the Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).
