---
title: Installing and Configuring RabbitMQ for PCF as an On-Demand Service
owner: London Services
---

This topic provides instructions to PCF operators about how to install, configure, and deploy the RabbitMQ for PCF tile to provide on-demand service.

<p class="note"><strong>Note</strong>: For instructions on how to install, configure, and deploy the RabbitMQ for PCF tile
as a pre-provisioned service, see
<a href="./install-config-pp.html">the documentation for pre-provisioned RabbitMQ for PCF</a>.</p>

## <a id="install"></a> Download and Install the Tile

1. Download the product file from Pivotal Network.

2. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

3. Under the **Import a Product** button, click **+** next to the version number of RabbitMQ for PCF. This adds the tile to your staging area.

4. Click the newly added **RabbitMQ for PCF** tile.

## <a id="tile_configurations"></a> Tile Configurations

### Global Settings

- `Marketplace name`: the service name that will appear in the Cloud Foundry (CF) Marketplace.
- `Service instance quota`  min: 0, max: 50  set the total number of dedicated service instances which can be deployed.
- `VM options`:
  - Allow outbound internet access (IaaS-dependent, for more information, see the Ops Manager documentation, log forwarding and backups may require internet access).

### Configuration Options for Plans
The following options are available for the RabbitMQ on demand broker:

- `Enable this plan`: check this to enable dedicated RabbitMQ instances on CF marketplace.
- `Service instance quota`: The maximum number of services that can be created by the on demand broker.
- `Plan name`: the service name that will appear in the CF marketplace.
- `Plan description`: the plan description that will appear in the CF marketplace.
- `Plan features`: the features associated with this plan that will appear in the CF marketplace.
- `RabbitMQ VM Type`: the type of VM that the RabbitMQ node will be created on.
- `Persistent disk type`: The type of persistent disk that the RabbitMQ node will be created on.
- `AZ placement`: the AZ(s) that the service instance will be deployed into.

<%= image_tag("images/config_rabbitmq_odb.png") %>

### Enabling the On-Demand Service Broker
To enable the ODB, select `Enable this plan` in the **Settings > Dedicated Instance: Single Node Plan** section in the RabbitMQ tile.

<p class="note"><strong>Note</strong>: If the ODB feature is not enabled, the ODB is deployed alongside with RabbitMQ installation.
Nevertheless, it is not going to be available in the Marketplace.</p>

### Explanation of Resource Types and Requirements
It is possible to configure the VM type for RabbitMQ and HAProxy instances by using the fields `RabbitMQ VM Type` and `HAProxy VM Type` respectively.
It is also possible to chose the size of the persistent disk that is going to be attached the RabbitMQ instances.
It is also necessary to chose the Availability Zone (AZ) the service instance is going to live in.

<%= image_tag("images/config_rabbitmq_odb_resources.png") %>

### Detail of the Solo Plan

In the `Solo` plan, there is a single node in the cluster. However, there is still an `HAProxy` associated with the cluster.

## <a id="config-on-demand"></a>  Configure the Tile for On-Demand Service

Follow the steps below to configure the RabbitMQ for PCF tile for on-demand service instances.
This procedure only addresses how to configure RabbitMQ for PCF as an on-demand service.
Currently there is only one type of plan available for the on-demand service.
Its default name is Solo.

1. Click **Assign AZs and Networks**.
    <p class="note"><strong>IMPORTANT</strong>: You cannot change the regions or networks after you have clicked **Apply Changes** in the <a href="#apply-changes">final step</a> below.</p>

2. Configure the fields on the **Assign AZs and Networks** as follows:
  <table>
    <tr><th>Field</th><th>Instructions</th></tr>
    <tr><td><strong>Place singleton jobs in</strong></td>
        <td>Select the region that you want for singleton VMs. PCF creates the RabbitMQ broker in this AZ.</td></tr>
    <tr><td><strong>Balance other jobs in</strong></td>
        <td>Select additional region. This selection does not affect the on-demand RabbitMQ for PCF service.</td></tr>
    <tr><td><strong>Network</strong></td>
        <td>Select a subnet for the RabbitMQ broker.<br>
            This network is represented by the Default Network in this <a href="./about.html#on-demand">picture</a>.
            Typically, you select the subnet used for the Pivotal Elastic Runtime components. 
            </td></tr>
    <tr><td><strong>Service Network</strong></td>
        <td> This is the subnet that the on-demand service instances are on.
             A typical practice is to put all on-demand services on a single subnet.
             This network is represented by the Services Network in this <a href="./about.html#on-demand">picture</a>.
             If you are not using on-demand services but only pre-provisioned services, you need to specify a subnet but which subnet you specify does not matter.</td></tr>
  </table>

    <p class="note warning"><strong>WARNING</strong>: Changing the Network or Service Network, or changing their IP configurations,
       results in a failed deployment.
       For more information, see <a href="./changing-ips.html">Changing Network or IP Addresses Results in a Failed Deployment</a>.</p> 

3. Click **Save**.

4. Click **RabbitMQ**.

5. Enter **RabbitMQ admin user credentials**.<br>
   These credentials are not used by the on-demand RabbitMQ for PCF service but the fields cannot be blank.
   You do not need to make any other edits to this page.

6. (Optional) Enter a value for the **Metrics polling interval**. The default is 30&nbsp;seconds.

6. Click **Save**.

7. If you want to set up monitoring, click **Syslog**, complete the fields, and save.<br>
   For more information, see [Monitoring RabbitMQ for PCF](./monitor.html).

7. Click **Dedicated Instance: Single Node Plan**.

     ![service-plan-tab-v1.8.0](service-plan-configuration.png)

8. Configure the fields on the **Dedicated Instance: Single Node Plan** as follows:
  <table>
    <tr><th>Field</th><th>Instructions</th></tr>
    <tr><td><strong>Enable this plan</strong></strong></td>
        <td>Select the checkbox.</td></tr>
    <tr><td><strong>Service instance quota</strong></td>
        <td>Enter the maximum number of dedicated service instances that can be available at one time.</td></tr>
    <tr><td><strong>Plan name</strong></td>
        <td>Accept the default or enter a name. This is the name that appears in the Marketplace.</td></tr>
    <tr><td><strong>Plan description</strong></td>
        <td>Accept the default or enter a description.</td></tr>
    <tr><td><strong>Plan features</strong></td>
        <td>Accept the default or enter information about the plan to help your app developers.</td></tr>
    <tr><td><strong>RabbitMQ VM Type</strong></td>
        <td>Select a large VM type.<br>The plan will create a service instance of this size.</td></tr>
    <tr><td><strong>Persistent disk type</strong></td>
    <td>This is where RabbitMQ will page messages to disk. See <a href="#disk-size-concers">Disk Size Concerns</a> for more details.</td></tr>
    <tr><td><strong>AZ placement</strong></td>
        <td>Select one AZ for the single node.<br>The plan will create all the on-demand service instance VMs in this AZ.</td></tr>
  </table>

9. Click **Save**.

10. Click **Stemcell**.

11. Verify and, if necessary, import a new stemcell version.
    For more information, see the information about importing the stemcell for your IaaS:
    [AWS](https://docs.pivotal.io/pivotalcf/customizing/cloudform-er-config.html#stemcell),
    [Azure](https://docs.pivotal.io/pivotalcf/customizing/azure-er-config.html#stemcell),
    [GCP](https://docs.pivotal.io/pivotalcf/customizing/gcp-er-config.html#stemcell), or
    [vSphere](https://docs.pivotal.io/pivotalcf/customizing/config-er-vmware.html#stemcell).

12. Return to the Ops Manager Installation Dashboard and click **Apply Changes**.

## <a id="disk-size-concerns"></a> Disk Size Concerns

RabbitMQ raises alarms when disk space drops below the configured limit.
Incorrect disk sizes may cause the deployed instance not to start.
RabbitMQ declines to start if there is not enough space available according to the threshold.

Dedicated instances are configured with a threshold set to the 40% of the memory (RAM) of the VM.
Operators can take the following table as an example when selecting the size of the persistent disk.

The following table shows an example of possible RAM values, absolute minimal value below which 
RabbitMQ declines to start, and the disk size suggested for an average use case.

<table border="1" class="nice">
  <tr>
    <td>RAM</td>
    <td>Free disk alarm threshold (0.4xRAM)</td>
    <td>Suggested disk size (2xRAM)</td>
  <tr>
  <tr>
    <td>10 GB</td>
    <td>4 GB</td>
    <td>20 GB</td>
  <tr>
  <tr>
    <td>16 GB</td>
    <td>6.4 GB</td>
    <td>32 GB</td>
  <tr>
  <tr>
    <td>32 GB</td>
    <td>12.8 GB</td>
    <td>64 GB</td>
  <tr>
</table>

<%= image_tag("images/vm-ram-disk-example.png") %>

### RabbitMQ Documentation

- [Alarms overview](http://www.rabbitmq.com/alarms.html)
- [Disk Alarms](http://www.rabbitmq.com/disk-alarms.html)

## <a id="smoke_test_process"></a> Smoke-Tests Steps

The smoke tests perform the following for each available service plan:

1. Targets the org <code>system</code> and creates a space to run the tests.
1. Deploys an instance of the [CF RabbitMQ Example App](https://github.com/pivotal-cf/rabbit-example-app) to this space
1. Creates a RabbitMQ service instance and binds it to the CF RabbitMQ Example App
1. Checks that the CF RabbitMQ Example App can write to and read from the RabbitMQ service instance
1. Cleans up all deployed application and all its service bindings. Finally, the cf space is deleted.
