---
title: (Command / Property / Options / Flags) Reference
owner: <your group name> # <---- For example "London Services"
---

_This page serves as a comprehensive language reference, listing all of the commands, properties, options, flags, or other user-settable variables that govern the operation of your service._

_If the service supports more than eight or so commands etc., list them in a table or tables with short (1-2 sentence) descriptions and syntax (if applicable) for each. Use multiple tables to separate commands etc. by type or broad conceptual category, grouping things together where the seem to belong together. Within each table, alphabetize by command etc. as listed in the first column._

_This isn't a list of the most-frequently used commands. It's a complete reference listing all of the commands that the service supports, even the obscure ones that aren't documented elsewhere, and it links to more detailed documentation where available._

## <a id='commands'></a>API Methods

<table border='1' class='nice'>
    <tr>
        <th>Method</th>
        <th>Syntax</th>
        <th>Function</th>
    </tr><tr>
        <td><code>let-dogs-out</code></td>
        <td><code>svc let-dogs-out [-a all][-c cute][-t attack] DOG-PACK DOG-CITY</code></td>
        <td>Lets dogs out from the specified pack in the specified city.</td>
    </tr><tr>
        <td><code>refill-coffee-cups</code></td>
        <td><code>svc refill-coffee [-d decaf] GUEST-LIST</code></td>
        <td>Refills coffee cups of designated guests.</td>
    </tr><tr>
        <td><code>...</code></td>
        <td><code>...</code></td>
        <td>...</td>
	</tr>
</table>    


## <a id='environment'></a>Environment Variables

<table border='1' class='nice'>
    <tr>
        <th>Environment Variable</th>
        <th>Effect</th>
    </tr><tr>
        <td><code>RIGHT_IS_WRONG</code></td>
        <td>Make everything right wrong, and vice-versa.</td>
    </tr><tr>
        <td><code>UP_IS_DOWN</code></td>
        <td>Turn everything upside-down.</td>
    </tr><tr>
        <td><code>...</code></td>
        <td>...</td>
    </tr>
</table>    


