---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

Pivotal recommends that you upgrade to the latest version of your current minor line, then upgrade to the latest available version of the new minor line. For example, if you use an older v1.7.x version, upgrade to the latest v1.7.x version before upgrading to the latest v1.8.x version.

See the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf) for product versions and upgrade paths.

## <a id="19x"></a>v1.9.x

### v1.9.5

**Release Date:  August 21st, 2017**

* Update to RabbitMQ 3.6.10
* Requires stemcell 3421.20
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Features:

* Stemcell upgrade from the 3363 line to the 3421 line. Primary reason for the
upgrade is to include the changes in 3421.18 which contains a fix for an
rsyslog hanging issue that occurrs when the IPSec add-on is installed.

Known issues:

* Cluster scaling or changing [Erlang Cookie](./install-config-pp.html#erlang) are downtime required deployments, and may result in failed deployments
* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

### v1.9.4

**Release Date:  August 15th, 2017**

* Update to RabbitMQ 3.6.10
* Requires stemcell 3363.30
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Features:

* This is a security release addressed by a new stemcell

Known issues:

* Cluster scaling or changing [Erlang Cookie](./install-config-pp.html#erlang) are downtime required deployments, and may result in failed deployments

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

Packages:

* OSS RabbitMQ v3.6.10
* Erlang v19.3.6
* HAProxy v1.6.11

### v1.9.3

**Release Date:  August 8th, 2017**

* Update to RabbitMQ 3.6.10
* Requires stemcell 3363.29
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Features:

* This is a security release addressed by a new stemcell

Known issues:

* Cluster scaling or changing [Erlang Cookie](./install-config-pp.html#erlang) are downtime required deployments, and may result in failed deployments

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

Packages:

* OSS RabbitMQ v3.6.10
* Erlang v19.3.6
* HAProxy v1.6.11


### v1.9.2

**Release Date:  August 7th, 2017**

* Update to RabbitMQ 3.6.10
* Requires stemcell 3363.26
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Features:

* This version of the tile will use RabbitMQ Native Cluster formation rather than the rabbitmq-clusterer plugin.

Known issues:

* Cluster scaling or changing [Erlang Cookie](./install-config-pp.html#erlang) are downtime required deployments, and may result in failed deployments

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

Packages:

* OSS RabbitMQ v3.6.10
* Erlang v19.3.6
* HAProxy v1.6.11

### v1.9.1

**Release Date:  July 7th, 2017**

* Update to RabbitMQ 3.6.10
* Requires stemcell 3363.26
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Known issues:

* Cluster scaling or changing [Erlang Cookie](./install-config-pp.html#erlang) are downtime required deployments, and may result in failed deployments

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

Packages:

* OSS RabbitMQ v3.6.10
* Erlang v19.3.6
* HAProxy v1.6.11

### v1.9.0

**Release Date:  June 30, 2017**

* Requires stemcell 3363.26
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Known issues:

* Cluster scaling or changing [Erlang Cookie](./install-config-pp.html#erlang) are downtime required deployments, and may result in failed deployments

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

Packages:

* OSS RabbitMQ v3.6.9
* Erlang v19.3.6
* HAProxy v1.6.11

## <a id="18x"></a>v1.8.x

For v1.8.x versions of RabbitMQ for PCF, see the [release notes](http://docs.pivotal.io/rabbitmq-cf/1-8/releases.html) in the v1.8 version of this documentation.

## <a id="17x"></a>v1.7.x

For v1.7.x versions of RabbitMQ for PCF, see the [release notes](http://docs.pivotal.io/rabbitmq-cf/1-7/releases.html) in the v1.7 version of this documentation.

## <a id="16x"></a>v1.6.x

For v1.6.x versions of RabbitMQ for PCF, see the [release notes](http://docs.pivotal.io/rabbitmq-cf/1-6/releases.html) in the v1.6 version of this documentation.

## <a id="15x"></a>v1.5.x and Earlier

For v1.5.x and earlier versions of RabbitMQ for PCF, see the [release notes](http://docs.pivotal.io/rabbitmq-cf/1-5/releases.html) in the v1.5 version of this documentation.
