---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.7.x version, upgrade to the latest v1.7.x version before upgrading to the latest v1.8.x version.

See the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf) for product versions and upgrade paths.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the drop-down list at the top of this page.

## <a id="110x"></a>v1.10.x

### <a id="1103"></a> v1.10.3

**Release Date**: October 12, 2017

#### Features

**On-Demand**

* On-demand RabbitMQ clusters
* Metrics for all instances automatically sent to the Firehose
* Single configuration for syslog forwarding for all instances
* Administrator permissions available through a service-key
* Update to RabbitMQ 3.6.12
* Requires stemcell 3445.11
* Update to RabbitMQ 3.6.12 for all instances involves [major changes]
(./rmq-3611-upgrade.html) to the memory calculations
* On-demand metrics prefixed with `p.rabbitmq` to match the service name
* Smoke tests run for on-demand plans


**Pre-Provisioned**

* Update to RabbitMQ 3.6.12
* Requires stemcell 3445.11
* This version of the tile can only be installed in Ops Manager v1.11 and v1.12 environments
* Update to RabbitMQ 3.6.12 — this involves [major changes]
(./rmq-3611-upgrade.html) to the memory calculations
* HAProxy instance count can be set to zero if an external load balancer is used


#### Known Issues

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and 
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

* Certain special characters cannot be used with the RabbitMQ administrator password, and using them can lead to issues 
logging into the Management UI as that user.

#### Packages

* OSS RabbitMQ v3.6.12
* Erlang v19.3.6
* HAProxy v1.6.11
