---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

Pivotal recommends that you upgrade to the latest version of your current minor line, then upgrade to the latest available version of the new minor line. For example, if you use an older v1.7.x version, upgrade to the latest v1.7.x version before upgrading to the latest v1.8.x version.

See the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf) for product versions and upgrade paths.

## <a id="18x"></a>v1.8.x

### v1.8.10

**Release Date:  June 22, 2017**

#### Features

* Stemcell upgrade


#### Known Issues

* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster
* Metrics `name` is namespaced with `/p-rabbitmq` (this should be `/p.rabbitmq`)
* Cannot scale-out if [Erlang Cookie](./install-config-pp.html#erlang) is not specified
* Changing [Erlang Cookie](./install-config-pp.html#erlang) value results in failed deployment
* As of Ops Manager v10.0.0, [errands set to the When Changed rule do not always run when the tile has relevant changes](http://docs.pivotal.io/tiledev/tile-errands.html). One-time rules should be set when using Ops Manager 1.10.7 or earlier to ensure that Update All Service Instances is run.

### v1.8.9

**Release Date:  June 20, 2017**

#### Features

* On-Demand Service defaults the vhost to the `service-id` instead of `/` to
improve compatibility with client libraries.
* Fixes issue in 1.8.8 where On Demand instances could not be created
* Upgrades Erlang to 19.3.6 which improves cluster stop/start resiliancy

#### Known Issues

* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster
* Metrics `name` is namespaced with `/p-rabbitmq` (this should be `/p.rabbitmq`)
* Cannot scale-out if [Erlang Cookie](./install-config-pp.html#erlang) is not specified
* Changing [Erlang Cookie](./install-config-pp.html#erlang) value results in failed deployment

### v1.8.8

**Release Date:  June 15, 2017**

#### Features

* On-Demand Service defaults the vhost to the `service-id` instead of `/` to
improve compatibility with client libraries.

#### Known Issues

* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster
* Metrics `name` is namespaced with `/p-rabbitmq` (this should be `/p.rabbitmq`)
* Cannot scale-out if [Erlang Cookie](./install-config-pp.html#erlang) is not specified
* Changing [Erlang Cookie](./install-config-pp.html#erlang) value results in failed deployment
* `p.rabbitmq` services are not able to be created (fixed in 1.8.9)

### v1.8.7

**Release Date:  June 1, 2017**

#### Fixes

* Requires stemcell 3363.25

#### Known Issues

* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster
* Metrics `name` is namespaced with `/p-rabbitmq` (this should be `/p.rabbitmq`)
* `spring-boot` client libraries cannot bind to dedicated instance services
* Cannot scale-out if [Erlang Cookie](./install-config-pp.html#erlang) is not specified
* Changing [Erlang Cookie](./install-config-pp.html#erlang) value results in failed deployment


### v1.8.6

**Release Date:  May 25, 2017**

#### Fixes

* Dedicated Instance plan enabled functions as it should
* Using hostnames in the BOSH director configuration works for Dedicated Instances
* Clarified Disk Alarm configuration settings
* Requires stemcell 3363.24

#### Known Issues

* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster
* Metrics `name` is namespaced with `/p-rabbitmq` (this should be `/p.rabbitmq`)
* `spring-boot` client libraries cannot bind to dedicated instance services
* Cannot scale-out if [Erlang Cookie](./install-config-pp.html#erlang) is not specified
* Changing [Erlang Cookie](./install-config-pp.html#erlang) value results in failed deployment


### v1.8.4

**Release Date:  May 15, 2017**

#### Features

* You can now select what `disk_free_limit` you want for your multi-tenant
  deployment. See
  [here](./install-config-pp.html#disk_free_alarm_selector)
  for details.

#### Fixes

* The `disk_free_limit` no longer defaults to a potentially dangerous value.

#### Known Issues

* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Disabling the Dedicated Instances service plan will leave the plan enabled
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster
* Metrics `name` is namespaced with `/p-rabbitmq` (this should be `/p.rabbitmq`)
* `spring-boot` client libraries cannot bind to dedicated instance services
* Cannot scale-out if [Erlang Cookie](./install-config-pp.html#erlang) is not specified
* Changing [Erlang Cookie](./install-config-pp.html#erlang) value results in failed deployment

### v1.8.2

**Release Date:  April 26, 2017**

* Requires stemcell 3363.20
* This version of the tile can only be installed in an Ops Manager v1.9 and v1.10 environments

Packages:

* OSS RabbitMQ v3.6.9
* Erlang v19.3
* HAProxy v1.6.11

Known Issues

* `disk_free_limit` changed from `50MB` to `40%` of disk capacity. This may result
  in <a href="https://www.rabbitmq.com/disk-alarms.html">disk alarms</a> being triggered
* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Disabling the Dedicated Instances service plan will leave the plan enabled
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster
* Metrics `name` is namespaced with `/p-rabbitmq` (this should be `/p.rabbitmq`)
* `spring-boot` client libraries cannot bind to dedicated instance services
* Cannot scale-out if [Erlang Cookie](./install-config-pp.html#erlang) is not specified
* Changing [Erlang Cookie](./install-config-pp.html#erlang) value results in failed deployment


### v1.8.1

**Release Date:  April 26, 2017**

* Requires stemcell 3363.15
* This version of the tile can only be installed in an Ops Manager v1.9 and v1.10 environments

Packages:

* OSS RabbitMQ v3.6.9
* Erlang v19.3
* HAProxy v1.6.11

Features included in this release:

* Metrics emitted from Dedicated Instances

Known Issues

* `disk_free_limit` changed from `50MB` to `40%` of disk capacity. This may result
  in <a href="https://www.rabbitmq.com/disk-alarms.html">disk alarms</a> being triggered
* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Disabling the Dedicated Instances service plan will leave the plan enabled
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster
* Metrics `name` is namespaced with `/p-rabbitmq` (this should be `/p.rabbitmq`)
* `spring-boot` client libraries cannot bind to dedicated instance services
* Cannot scale-out if [Erlang Cookie](./install-config-pp.html#erlang) is not specified
* Changing [Erlang Cookie](./install-config-pp.html#erlang) value results in failed deployment

### v1.8.0

**Release Date:  April 15, 2017**

* Requires stemcell 3363.14
* This version of the tile can only be installed in an Ops Manager v1.9 and v1.10 environments

Packages:

* OSS RabbitMQ v3.6.9
* Erlang v19.3
* HAProxy v1.6.11

Features included in this release:

* RabbitMQ for PCF as an on-demand service.
* The free disk alarm is now triggered when 40% of the configured RAM limit is used.

<a id='known-issues'></a>Known Issues

* Allows changing of the **Marketplace name** for **Dedicated Instance**, which will be removed
* disk_free_limit changed from 50MB to 40% of disk capacity. This may result in disk alarms being triggered
* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Disabling the Dedicated Instances service plan will leave the plan enabled
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster
* `spring-boot` client libraries cannot bind to dedicated instance services
* Cannot scale-out if [Erlang Cookie](./install-config-pp.html#erlang) is not specified
* Changing [Erlang Cookie](./install-config-pp.html#erlang) value results in failed deployment

## <a id="17x"></a>v1.7.x

For v1.7.x versions of RabbitMQ for PCF, see the [release notes](../rabbitmq-cf/1-7/releases.html) in the v1.7 version of this documentation.

## <a id="16x"></a>v1.6.x

For v1.6.x versions of RabbitMQ for PCF, see the [release notes](../rabbitmq-cf/1-6/releases.html) in the v1.6 version of this documentation.

## <a id="15x"></a>v1.5.x and Earlier

For v1.5.x and earlier versions of RabbitMQ for PCF, see the [release notes](../rabbitmq-cf/1-5/releases.html) in the v1.5 version of this documentation.

