---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

Pivotal recommends that you upgrade to the latest version of your current minor line, and then upgrade to the latest available version of the new minor line. For example, if you're on an older v1.7.x version, upgrade to the latest v1.7.x version before upgrading to the latest v1.8.x version.

See the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf) for product versions and upgrade paths.

## <a id="18x"></a>v1.8.x

### v1.8.0

**Release Date:  April 15, 2017**

* Requires stemcell 3xxx.x
* This version of the tile can only be installed in an Ops Manager v1.x (or later) environment

Packages:

* OSS RabbitMQ v3
* Erlang v18.x.x.x
* HAProxy v1.x.x

Features included in this release:

* The free disk alarm is now triggered when 40% of the configured RAM limit is used.

## <a id="17x"></a>v1.7.x

For v1.7.x versions of RabbitMQ for PCF, see the [release notes](../rabbitmq-cf/1-7/releases.html) in the v1.7 version of this documentation.

## <a id="16x"></a>v1.6.x

For v1.6.x versions of RabbitMQ for PCF, see the [release notes](../rabbitmq-cf/1-6/releases.html) in the v1.6 version of this documentation.

## <a id="15x"></a>v1.5.x and Earlier

For v1.5.x and earlier versions of RabbitMQ for PCF, see the [release notes](../rabbitmq-cf/1-5/releases.html) in the v1.5 version of this documentation.

