---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

Pivotal recommends that you upgrade to the latest version of your current minor line, then upgrade to the latest available version of the new minor line. For example, if you use an older v1.7.x version, upgrade to the latest v1.7.x version before upgrading to the latest v1.8.x version.

See the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf) for product versions and upgrade paths.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the drop-down list at the top of this page.

## <a id="19x"></a>v1.9.x

### v1.9.5

**Release Date:  August 21st, 2017**

* Update to RabbitMQ 3.6.10
* Requires stemcell 3421.20
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Features:

* Stemcell upgrade from the 3363 line to the 3421 line. Primary reason for the
upgrade is to include the changes in 3421.18 which contains a fix for an
rsyslog hanging issue that occurrs when the IPsec add-on is installed.

Known issues:

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime, and may result in failed deployments. For details see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

### v1.9.4

**Release Date:  August 15th, 2017**

* Update to RabbitMQ 3.6.10
* Requires stemcell 3363.30
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Features:

* This is a security release addressed by a new stemcell

Known issues:

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime, and may result in failed deployments. For details see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

Packages:

* OSS RabbitMQ v3.6.10
* Erlang v19.3.6
* HAProxy v1.6.11

### <a id="193"></a> v1.9.3

**Release Date:  August 8th, 2017**

* Update to RabbitMQ 3.6.10
* Requires stemcell 3363.29
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Features:

* This is a security release addressed by a new stemcell

Known issues:

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime, and may result in failed deployments. For details see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

Packages:

* OSS RabbitMQ v3.6.10
* Erlang v19.3.6
* HAProxy v1.6.11


### <a id="192"></a> v1.9.2

**Release Date:  August 7th, 2017**

* Update to RabbitMQ 3.6.10
* Requires stemcell 3363.26
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Features:

* This version of the tile will use RabbitMQ Native Cluster formation rather than the rabbitmq-clusterer plugin.

Known issues:

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime, and may result in failed deployments. For details see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

Packages:

* OSS RabbitMQ v3.6.10
* Erlang v19.3.6
* HAProxy v1.6.11

### <a id="191"></a> v1.9.1

**Release Date:  July 7th, 2017**

* Update to RabbitMQ 3.6.10
* Requires stemcell 3363.26
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Known issues:

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime, and may result in failed deployments. For details see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

Packages:

* OSS RabbitMQ v3.6.10
* Erlang v19.3.6
* HAProxy v1.6.11

### <a id="190"></a> v1.9.0

**Release Date:  June 30, 2017**

* Requires stemcell 3363.26
* This version of the tile can only be installed in an Ops Manager v1.10.3+ and v1.11 environments

Known issues:

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime, and may result in failed deployments. For details see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks an/or IP addresses for the `RabbitMQ Server` job results in a failed upgrade deployment. For details, see [this page](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

Packages:

* OSS RabbitMQ v3.6.9
* Erlang v19.3.6
* HAProxy v1.6.11

