---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

Pivotal recommends that you upgrade to the latest version of your current minor line, then upgrade to the latest available version of the new minor line. For example, if you use an older v1.7.x version, upgrade to the latest v1.7.x version before upgrading to the latest v1.8.x version.

See the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf) for product versions and upgrade paths.

## <a id="18x"></a>v1.8.x

### v1.8.1

**Release Date:  April 26, 2017**

* Requires stemcell 3363.15
* This version of the tile can only be installed in an Ops Manager v1.9 and v1.10 environments

Packages:

* OSS RabbitMQ v3.6.9
* Erlang v19.3
* HAProxy v1.6.11

Features included in this release:

* Metrics emitted from Dedicated Instances

<a id='known-issues'></a>Known Issues

* `disk_free_limit` changed from `50MB` to `40%` of disk capacity. This may result
  in <a href="https://www.rabbitmq.com/disk-alarms.html">disk alarms</a> being triggered
* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Disabling the Dedicated Instances service plan will leave the plan enabled
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster
* Metrics `name` is namespaced with `/p-rabbitmq` (this should be `/p.rabbitmq`)

### v1.8.0

**Release Date:  April 15, 2017**

* Requires stemcell 3363.15
* This version of the tile can only be installed in an Ops Manager v1.9 and v1.10 environments

Packages:

* OSS RabbitMQ v3.6.9
* Erlang v19.3
* HAProxy v1.6.11

Features included in this release:

* RabbitMQ for PCF as an on-demand service.
* The free disk alarm is now triggered when 40% of the configured RAM limit is used.

<a id='known-issues'></a>Known Issues

* Allows changing of the **Marketplace name** for **Dedicated Instance**, which will be removed
* disk_free_limit changed from 50MB to 40% of disk capacity. This may result in disk alarms being triggered
* Deleting your RabbitMQ for PCF tile can timeout (1 hour) if many dedicated instances have been
  deployed. Retrying will continue the cleanup process
* Disabling the Dedicated Instances service plan will leave the plan enabled
* Smoke tests will fail if SSL/TLS is configured for your RabbitMQ cluster

## <a id="17x"></a>v1.7.x

For v1.7.x versions of RabbitMQ for PCF, see the [release notes](../rabbitmq-cf/1-7/releases.html) in the v1.7 version of this documentation.

## <a id="16x"></a>v1.6.x

For v1.6.x versions of RabbitMQ for PCF, see the [release notes](../rabbitmq-cf/1-6/releases.html) in the v1.6 version of this documentation.

## <a id="15x"></a>v1.5.x and Earlier

For v1.5.x and earlier versions of RabbitMQ for PCF, see the [release notes](../rabbitmq-cf/1-5/releases.html) in the v1.5 version of this documentation.

