---
title: Changes to Memory Allocation when Upgrading to RabbitMQ v3.6.12 or Later
owner: RabbitMQ Tile
---

##<a id="overview"></a> Overview

Upgrading to some versions of RabbitMQ for PCF from earlier versions of the tile upgrades your RabbitMQ component software to v3.6.12. 
To verify the component version to which you are upgrading, see the [Product Snapshot](./index.html#snapshot).

If you upgrade to this component version, RabbitMQ might report much higher memory usage than before because of how nodes now calculate the RAM they use.
With this upgrade, the memory use is reported more accurately, whereas before the upgrade it was underreported.

Due to this change, you might have to increase the amount of memory allocated to the `RabbitMQ Server` job for each RabbitMQ server node.
Follow the steps below to adjust the memory allocation if necessary.

##<a id="memory-allocation"></a> Change the Memory Allocation

Before upgrading to RabbitMQ v3.6.12 or later, do the following:

1. Compare the memory used by the RabbitMQ server nodes against the high watermark.

    You can see these figures in the RabbitMQ Management UI:

    ![Configure syslog pane](high_watermark.png)

    Here is a closer look at the memory use figures for the three nodes listed:

    ![High watermark closeup](highwatermark_closeup.png)

    In the above image, the high watermark for each node is 6.0&nbsp;GB.
    The numbers in green represent the maximum memory used by each node at this particular time.

2. If the memory used by a node is more than 45% of the high watermark,
   increase the amount of memory allocated to the `RabbitMQ Server` job to avoid the risk of blocking publishers.
   Use the formula below to calculate the new memory allocation, and apply this allocation to each node. 

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**0.4m > 2.5n** 
    
    Where:
    + **m** is the new memory allocation for each node.<br> 
    + **n** is the highest value reported for maximum memory among any of the RabbitMQ nodes. 

    **Example**

    If you have three nodes and the one with the most memory used reports 4.8&nbsp;GB,
    then the value of **m** for each node is calculated as follows: 

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**m > 2.5 × 4.8 / 0.4**, that is,

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**m > 30**

    Therefore, each node should be allocated at least 30&nbsp;GB of RAM.

##<a id="paging-to-disk"></a> Avoid Paging to Disk

If the memory used is less than 45% of the high watermark, memory alarms may be triggered after the upgrade,
and it is likely that RabbitMQ will page out certain queue contents to disk.
This is normal and is not a cause for concern.

However, if you want to avoid paging to disk, then increase the amount of memory allocated to each node's `RabbitMQ Server` job using the following formula: 

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**0.2m > 2.5n**

For more information on paging to disk, see the [RabbitMQ documentation](https://www.rabbitmq.com/memory.html#memsup-paging).
